@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body{
    background-color: rgb(254, 237, 217);
}

.error_wrapper  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error_wrapper > .error_heading {
    font-family: 'Ubuntu';
    font-size: 18px;
    color:rgb(117, 37, 19);
    text-align: center;
    margin-bottom: 45px;
}
.error_wrapper img {
    width: 50%;
}